<div class="row" style="margin-top: 10px;margin-bottom: 20px;">
    <div class="col-md-12"> 
                Neither Party will use,copy,adapt,alter or part with possession of any information of the orher which is disclosed or otherwise come into its possession under <br />
                or in relation to this Agreement and which is a confidential nature.This obligation will not apply to information which the recipient can prove was in its possession <br />
                at the date it was received or obtained or which the recipient obtains from some other person with good legal title to it or which is in or comes into the public domain <br />
                otherwiise than through the default or negligence of the recipuent or which is independently developed by or for the recipient.<br />
            
        <div style="margin-top: 20px;margin-bottom: 20px;">
            I HAVE READ THE GUIDELINES, TERMS & CHECKLIST ASSOCIATED IN THIS REQUEST.
        </div> 
    </div>
</div>
